[Unit]
Description=Run Todo Harbor auto deploy check periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=todo-harbor-auto-deploy.service

[Install]
WantedBy=timers.target
