WEBHOOK_HOST=127.0.0.1
WEBHOOK_PORT=19090
WEBHOOK_PATH=/webhooks/github/todo-harbor
WEBHOOK_SECRET=replace-with-long-random-secret
WEBHOOK_TARGET_REPO=biglone/todo-harbor
WEBHOOK_TARGET_REF=refs/heads/master
DEPLOY_SCRIPT=/home/Biglone/workspace/todo-harbor/scripts/auto-deploy-on-remote-update.sh
